.pad-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.drum-pad {
  width: 20%;
  margin: 10px;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
}
.drum-pad:hover {
  cursor: pointer;
  background: #f1f1f1;
}
.drum-pad-clicked {
  background: black;
}